.block-img{
  padding: 5px;
}
.profile-user-img{
  height: 100px;
  margin: 0;
}
.skin-blue{
  position: relative;
}
.box-top{
  padding: 10px 0;
}
.al-success{
  background-color: #dff0d8;
  border: 1px solid #3c763d;
  display: inline-block;
  color: #3c763d;
  padding: 5px 10px;
}
.al-error{
  background-color: #f2dede;
  border: 1px solid #a94442;
  display: inline-block;
  color: #a94442;
  padding: 5px;
}
.profile-user-img{
  height: 100px;
}
