.no-bg {
  background-image: none;
}
.txt-purple {
  color: #ff084e !important;
}
.bg-rgba {
  background-color: rgba(0,0,0,.5);
}
.child-cat li {
  display: inline-block;
}
.child-cat li h3 a{
  font-size: 14px;
  color: #777777;
  padding: 10px 15px;
}
.parent-cat a{
  color: #222222;
}
.s-30 {
  font-size: 25px;
}
.navbar-nav span{
  padding: 0 10px;
}
.form-search {
  position: relative;
}
.ip-search {
  width: 170px;
  padding: 0 10px;
  font-size: 13px;
}
.btn-search {
  background-color: #fff;
  border: none;
  position: absolute;
  top: 1px;
  right: 1px;
}
.show-cart {
  position: relative;
}
.show-cart .js-cnt-item {
  position: absolute;
  right: 23px;
  top: 0;
  padding: 0 7px;
  background-color: #f41068;
  color: #fff;
  border-radius: 50%;
}
.text-gray {
  color: #cccccc;
}
.p-t-50 {
  padding-top: 50px;
}
.m-b-50 {
  margin-bottom: 50px;
}
.content {
  max-width: 900px;
}
.box-title, .p-20 {
  padding: 20px 0;
}
.box-top {
  padding: 10px 0;
}
.al-success {
  background-color: #dff0d8;
  border: 1px solid #3c763d;
  border-radius: 5px;
  color: #3c763d;
  padding: 10px;
}
.al-error {
  background-color: #f2dede;
  border: 1px solid #a94442;
  border-radius: 5px;
  color: #a94442;
  padding: 10px;
}
.main-sidebar {
  background: #2c3b40;
  width: 250px;
}
.content-wrapper {
  display: flex;
  background: #f9f9ff;
}
.sidebar {
  padding-bottom: 10px;
}
.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-menu .header {
  color: #fff;
  background: #212121;
  padding: 10px 25px 10px 15px;
  font-size: 16px;
}
.sidebar-menu>li {
  position: relative;
  margin: 0;
  padding: 0;
}
.sidebar-menu li {
  border-left: 3px solid transparent;
  padding: 12px 5px 12px 15px;
  display: block;
}
.sidebar a {
  color: #b8c7ce;
}
.sidebar-menu>li>.treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.treeview-menu {
  list-style: none;
  padding: 0;
  margin-left: 20px;
  padding-left: 5px;
}
.full-with {
  width: 100%;
}
.prodcut-item {
  padding: 10px;
}
.item-padding {
  padding: 10px;
}
.product-img {
  height: 80px;
  width: 80px;
}
.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}
.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}
.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}
.order-num {
  margin-right: 30px;
}
.box-header>h5 {
  font-weight: normal;
}
