.no-bg {
  background-image: none;
}
.txt-purple {
  color: #ff084e !important;
}
.bg-rgba {
  background-color: rgba(0,0,0,.5);
}
.child-cat li {
  display: inline-block;
}
.child-cat li h3 a{
  font-size: 14px;
  color: #777777;
  padding: 10px 15px;
}
.parent-cat a{
  color: #222222;
}
.s-30 {
  font-size: 25px;
}
.navbar-nav span{
  padding: 0 10px;
}
.form-search {
  position: relative;
}
.ip-search {
  width: 170px;
  padding: 0 10px;
  font-size: 13px;
}
.btn-search {
  background-color: #fff;
  border: none;
  position: absolute;
  top: 1px;
  right: 1px;
}
.show-cart {
  position: relative;
}
.show-cart #js-total-item {
  position: absolute;
  right: 23px;
  top: 0;
  padding: 0 7px;
  background-color: #f41068;
  color: #fff;
  border-radius: 50%;
}
.text-gray {
  color: #cccccc;
}
.single-search-product img{
  max-height: 70px;
}
.size-product {
  min-width: 250px;
  min-height: 250px;
}
.size-slide {
  height: 700px;
}
.price h5 {
  font-size: 22px;
}
.price p {
  font-size: 20px;
  font-weight: 600;
  color: #222222;
}
.men-product-area .overlay-bg {
  background-image: -webkit-linear-gradient(45deg, #f6463d 0%, #1d0d0d 45%, #101010 100%);
}
.related-content {
  margin-bottom: 10px;
}
.product-owl, .new-product-owl {
  position: relative;
}
.new-product-owl .owl-nav button.owl-prev {
  font-size: 50px;
  position: absolute;
  top: 38px;
  left: -20px;
}
.new-product-owl .owl-nav button.owl-next {
  font-size: 50px;
  position: absolute;
  top: 38px;
  right: -20px;
}
.product-owl .owl-nav button.owl-prev {
  font-size: 50px;
  position: absolute;
  top: 115px;
  left: -20px;
}
.product-owl .owl-nav button.owl-next {
  font-size: 50px;
  position: absolute;
  top: 115px;
  right: -20px;
}
.nav-left {
  flex-basis: 120%;
}
.img-product-cart {
  width: 70px;
  height: 70px;
}
.mess-coupon {
  line-height: 40px;
  padding: 0 30px;
  color: #f41068;
  font-weight: bold;
}
.subtotal-area .subtotal {
  margin-left: 0;
  min-width: 200px;
  text-align: right;
}
.cupon-area .cupon-code {
  display: block;
}
.cupon-question {
  padding: 0 20px;
  font-weight: 600;
}
.w-30 {
  width: 30%;
}
.help-block {
  color: #a94442;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}