.no-bg {
  background-image: none;
}
.txt-purple {
  color: #ff084e !important;
}
.bg-rgba {
  background-color: rgba(0,0,0,.5);
}
.child-cat li {
  display: inline-block;
}
.child-cat li h3 a{
  font-size: 14px;
  color: #777777;
  padding: 10px 15px;
}
.parent-cat a{
  color: #222222;
}
.s-30 {
  font-size: 25px;
}
.navbar-nav span{
  padding: 0 10px;
}
.form-search {
  position: relative;
}
.ip-search {
  width: 170px;
  padding: 0 10px;
  font-size: 13px;
}
.btn-search {
  background-color: #fff;
  border: none;
  position: absolute;
  top: 1px;
  right: 1px;
}
.show-cart {
  position: relative;
}
.show-cart .js-cnt-item {
  position: absolute;
  right: 23px;
  top: 0;
  padding: 0 7px;
  background-color: #f41068;
  color: #fff;
  border-radius: 50%;
}
.text-gray {
  color: #cccccc;
}
.p-t-50 {
  padding-top: 50px;
}
.m-b-50 {
  margin-bottom: 50px;
}
.box .p-l-20 {
  padding-left: 20px;
}
.content {
  max-width: 900px;
}
.box-title, .p-20 {
  padding: 20px 0;
}
.box-top {
  padding: 10px 0;
}
.al-success {
  background-color: #dff0d8;
  border: 1px solid #3c763d;
  border-radius: 5px;
  color: #3c763d;
  padding: 10px;
}
.al-error {
  background-color: #f2dede;
  border: 1px solid #a94442;
  border-radius: 5px;
  color: #a94442;
  padding: 10px;
}
.full-with {
  width: 100%;
}
.prodcut-item {
  padding: 10px;
}
.item-padding {
  padding: 10px;
  display: flex;
  align-items: center;
}
.product-img {
  height: 80px;
  width: 80px;
}
.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box .with-border {
  border-bottom: 1px solid #f4f4f4;
}
.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}
.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}
.order-num {
  margin-right: 30px;
}
.box h5 {
  font-weight: normal;
}
.box-header .pull-right {
  margin-top: -20px;
}
.box-footer {
  padding: 8px 16px;
}
.own-info {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* style for timeline in order detail */
.timeline {
  width: 100%;
  height: 100px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;      
  justify-content: center;    
}
.timeline .events {
  position: relative;
  background-color: #606060;
  height: 3px;
  width: 100%;
  border-radius: 4px;
  margin: 5em 0;
 }
.timeline .events ol {
  margin: 0;
  padding: 0;
  text-align: center;
}
.timeline .events ul {
  list-style: none;
}
.timeline .events ul li {
  display: inline-block;
  width: 24.65%;
  margin: 0;
  padding: 0;
}
.timeline .events ul li a {
  font-family: 'Arapey', sans-serif;
  font-style: italic;
  font-size: 1.25em;
  color: #606060;
  text-decoration: none;
  position: relative;
  top: -32px;
}
.timeline .events ul li a:after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 50%;
  right: auto;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid #606060;
  background-color: #fff;
  transition: 0.3s ease;
  transform: translateX(-50%);
}
.timeline .events ul li a:hover::after {
  background-color: #194693;
  border-color: #194693;
}
.timeline .events ul li a.selected:after {
  background-color: #194693;
  border-color: #194693;
}            
.events-content {
  width: 100%;
  height: 100px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;      
  justify-content: left;
}
.events-content li {
  display: none;
  list-style: none;
}
.events-content li.selected {
  display: initial;
}
.events-content li h2 {
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 500;
  color: #919191;
  font-size: 2.5em;
}
/* End style for timeline in order detail */
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination>li {
  display: inline;
}
.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  text-decoration: none;
  border: 1px solid #ddd;
}
.orders {
  min-height: 500px;
  margin-bottom: 50px;
}
.main-sidebar {
  background: #2c3b40;
  width: 250px;
}
.content-wrapper {
  display: flex;
  background: #f9f9ff;
}
.sidebar {
  padding-bottom: 10px;
}
.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-menu .header {
  color: #fff;
  background: #212121;
  padding: 10px 25px 10px 15px;
  font-size: 16px;
}
.sidebar-menu>li {
  position: relative;
  margin: 0;
  padding: 0;
}
.sidebar-menu>li {
  border-left: 3px solid transparent;
  /* padding: 12px 5px 12px 15px; */
  padding: 20px 10px 5px 10px;
  display: block;
}
.sidebar-menu ul li {
  padding: 5px 20px;
}
.sidebar a {
  color: #b8c7ce;
}
.txt-red {
  color: red;
}
